#title {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
#selection {
	text-align: center;
	margin-left: 45%;
	margin-right: auto;
}
#mapDiv{
margin-left: 20%;
margin-right: auto;
width: 60%;
height: 45%; 
border: 0px;
}
.showHide {
	display: none;
}